.browsehappy {
  margin: 0.2em 0;
  /*background: #ccc;*/
  color: #000;
  padding: 0.2em 0;
}

body {
  /*background-color: #ddd;*/
  line-height: 1.6em;
  /*padding-top: 50px;*/
}

.navlogo {
  padding-top: 10px;
}

.content, .row {
  font-size: 16px;
}

/*.about_blurb {
  margin: 2em 0;
}*/

.parallax {
  background-attachment: fixed;
  background-size: auto auto;
  background-position: 50% 0%;
}

.banner {
  color: white;
  padding-top: 2.5em;
  padding-bottom: 14rem;
  margin-bottom: 0;
}

.banner.short h1{

  /*margin-top: 1em;*/
}

.content .row {
  padding: 5em 2em;
}

.content .row h3 {
  font-size: 2em;
}

.row.light {
  background-color: #ddd;
}

.row.dark {
  background-color: #333;
  color: white;
}

.banner {
  background-color: #999;
}

.banner h1 {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 3em;
  font-weight: bold;
  margin-top: 2em;
  text-align: left;
  white-space: nowrap;
}
.banner h2 {
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: 200;
  font-size: 1.5em;
  text-align: left;
  padding-left: 1.5em;
  margin-top: 0;
}
.banner h2 .bold {
  font-weight: bold;
}

.blink {
  animation: 1.5s blink infinite;
}

.cursor {
  display: inline-block;
  font-weight: 100;
  background: transparent;
}

@keyframes blink {
  0%   { background: rgba(255,255,255,0.5) }
  50%  { background: transparent }
  100% { background: rgba(255,255,255,0.5) }
}

.community {
  background-image: url("../images/F_fin_525.gif");
}
.gaming {
  background-image: url("../images/L_fin_525.gif");
}
.coworking {
  background-image: url("../images/G_fin_525.gif");
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  .banner h1 {
    font-size: 6em;
  }
  .banner h2 {
    font-size: 2em;
    padding-left: 2.5em;
  }

  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
