<section class="parallax jumbotron banner">
  <h1 role="heading">
    <span class="heading_text">&gt; {{header}}</span>
    <span class="blink cursor">&nbsp;</span>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="content container">
        <p>Take a quick moment to share our kickstarter info with your friends (Twitter, Facebook or both!). And then take a moment to check out our kickstarter itself and back our community initiatives: classes, new stations and more. Thanks!</p>
    </div>
  </div>
</section>